---
import { type CollectionEntry, getCollection } from "astro:content";
import Journal from "../../layouts/Journal.astro";
import url_for from "../../helpers/url";

export type Linked<T> = {
	prev: T | undefined;
	cur: T;
	next: T | undefined;
};


interface EntryWithUnlisted {
	 data: {
    unlisted: boolean
  }
}

// if something is unlisted should not be displayed in pages/prev/next buttons
export const isNotUnlisted = (p: EntryWithUnlisted | undefined): boolean => {
		if (p === undefined) {
			return false
		}
		return p.data.unlisted === false
}

// correctly handle prev/next if some are unlisted
export function linked<T>({ posts, isPublic }: { posts: T[], isPublic?: (t: T | undefined) => boolean }): Linked<T>[] {
	const res: Linked<T>[] = [];
	let prev = undefined;
	let next = undefined;
	for (let i = 0; i < posts.length; i++) {
		next = undefined;
		for (let j = i + 1; j < posts.length; j++) {
			if (isPublic !== undefined) {
				// if public, and this is public, use it
				if (isPublic(posts[j])) {
					next = posts[j];
					break
				}
			} else {
				// if no function to determine visibility, use everything
				next = posts[j];
				break
			}
		}
		res.push({ prev, cur: posts[i]!, next });
		if (isPublic !== undefined) {
			if (isPublic(posts[i])) {
				prev = posts[i];
			}
		} else {
			prev = posts[i];
		}
	}
	return res;
}

export async function getStaticPaths() {
	const posts = (await getCollection("journal")).sort((a, b) => {
		return a.data.date > b.data.date ? -1 : 1;
	});

	return linked({ posts, isPublic: isNotUnlisted }).map((data: Linked<CollectionEntry<"journal">>) => {
		const props: Props = {
			...data.cur,
			prev_slug: data.prev?.slug,
			next_slug: data.next?.slug,
		};
		return {
			params: { slug: data.cur.slug },
			props,
		};
	});
}
type PropsBase = CollectionEntry<"journal">;
type Props = PropsBase & {
	prev_slug: string | undefined;
	next_slug: string | undefined;
};

const post = Astro.props;
const { Content } = await post.render();
---

<Journal
	{...post.data}
	editor_slug={post.slug}
	prev_slug={post.prev_slug ?? undefined}
	next_slug={post.next_slug ?? undefined}
>
	{
		post.data.audio && (
			<audio controls src={url_for(post.data.audio)}>
				<p>Your browser does not support the audio element.</p>
			</audio>
		)
	}
	<Content />
</Journal>
