---
import { type CollectionEntry, getCollection } from "astro:content";
import Journal from "../../layouts/Journal.astro";
import url_for from "../../helpers/url";

type Linked<T> = {
	prev: T | undefined;
	cur: T;
	next: T | undefined;
};

export function linked<T>(arr: T[]): Linked<T>[] {
	const res: Linked<T>[] = [];
	for (let i = 0; i < arr.length; i++) {
		res.push({ prev: arr[i - 1], cur: arr[i]!, next: arr[i + 1] });
	}
	return res;
}

export async function getStaticPaths() {
	const posts = (await getCollection("journal")).sort((a, b) => {
		return a.data.date > b.data.date ? -1 : 1;
	});
	return linked(posts).map((data: Linked<CollectionEntry<"journal">>) => {
		const props: Props = {
			...data.cur,
			prev_slug: data.prev?.slug,
			next_slug: data.next?.slug,
		};
		return {
			params: { slug: data.cur.slug },
			props,
		};
	});
}
type PropsBase = CollectionEntry<"journal">;
type Props = PropsBase & {
	prev_slug: string | undefined;
	next_slug: string | undefined;
};

const post = Astro.props;
const { Content } = await post.render();
---

<Journal
	{...post.data}
	editor_slug={post.slug}
	prev_slug={post.prev_slug ?? undefined}
	next_slug={post.next_slug ?? undefined}
>
	{
		post.data.audio && (
			<audio controls src={url_for(post.data.audio)}>
				<p>Your browser does not support the audio element.</p>
			</audio>
		)
	}
	<Content />
</Journal>
